<%= javascript_include_tag "dropzone" %>

<span class="blob Bblob white bl pad5">
	<span class="W20">
			<%= form_for @comic, multipart: true do |f| %>
			<span class="Byell black pad05">
				<%= f.label :title, "Title" %>
				<%= f.text_field :title %>
			</span>

			<span class="Byell black bl pad05">
				<%= f.label :image, "img" %>

			</span>
			<br>
			<span class="Byell black bl pad05">
				<%= f.label :position, "Position" %>
				<%= f.text_field :position  %>
			</span>
			<span class="Byell bl black bl pad05">
				<%= f.label :desc, "Description" %>
				<%= f.text_area :desc, {class: "pad5"} %>
			</span>

	    <span class="Byell black pad05">

				<%= f.submit "Post"  %>
			</span>
		<% end %>

		<%= form_tag('/comics/upload', method: :post, class: 'pad5 block Bblack', id: 'filebox', remote: true) %>

	</span>
</span>


<script type="text/javascript">

	var AUTH_TOKEN=$('meta[name="csrf-token"]').attr('content');

	$(document).ready(function() {

		$("#filebox").dropzone({params: {'authenticity_token':  AUTH_TOKEN }, url: '/comics/upload', success: function(file, resp) {
			console.log(resp)
			$('#filebox').removeClass('Bblack').addClass('Bwhite');
		}});
	});
</script>