<%= javascript_include_tag "dropzone" %>

<span class="newComic comicCount<%= @cnt %>" id="">
		
	<div class="  minH12em left W90 " >
		      
		<div class=' bl Byell pad0 z1 minH10em marg0 W100'> 
			<span id="" class="W100 white bl minH10em ">

				<span class="W3 minH left">
				</span>

				<span class="W74 left  ">
					<%= form_for @comic, class: 'left bl W100', multipart: true do |f| %>
						<span class="Blttan  mH4em left white  down2em rel W30 pad2 round">
							<%= f.label :title, "Title", {class: 'down3 rel'} %>
							<%= f.text_field :title, { class: 'in mH32 mar2LR comicTitle'}   %>
						</span>
						<span class="Btan mH4em left black  down2em rel W60 pad2 round">
							<%= f.label :desc, "Desc", {class: "in up12 rel"} %>
							<%= f.text_area :desc, {class: " W80 mH32 in comicDesc"} %>
						</span>
					<% end %>
				</span>

				<span class="W3 minH left">
				</span>

				<span class="W10 left pad0 marg0 ">
					<span class='left  W100 pad0 marg0 overf Blttan down3em rel' ><%= form_tag('/comics/upload', class: "in minH pad0 marg0 W100 MWH8em left goku filebox#{@cnt}", method: :post, remote: true) %></span>
				</span>

				<span class="W10 minH left">
				</span>

			</span>
		</div>
	</div>

	<div class='left  Blttan pad0 minH10em marg0 W10'>
	  <span class="in W100 overf left pad5 white buttonCon" data-count="<%= @cnt %>">
	  	<a href="#" class="moveButton upButton bl">up</a>
	  	<a href="#" class="moveButton downButton hidden bl">down</a>
	  </span>
	</div>

</span>

<script type="text/javascript">

	var AUTH_TOKEN=$('meta[name="csrf-token"]').attr('content');

	$(document).ready(function() {
		var coun = <%= @cnt %>;
		var thisComic = '.comicCount' + coun;

		$(".newComic .filebox" + coun).dropzone({params: {'authenticity_token':  AUTH_TOKEN }, paramName: 'comic[image]', url: '/comics/upload', success: function(file, resp) {

			$(thisComic).attr('id', resp.id);
			$('.dz-success-mark, .dz-error-mark').hide();
			$('#filebox').removeClass('Bblack').addClass('Bwhite');
		}});
	});
</script>