<span class="blob Bblob white bl pad5">
	<%= form_for @comic, multipart: true do |f| %>
		<span class='Byell black pad05'>
			<%= f.label :title, "Title" %>
			<%= f.text_field :title %>
		</span>
		<br>
		<span class='Byell black pad05'>
			<%= f.label :desc, "Desc" %>
			<%= f.text_field :desc %>
		</span>
		<br>

		<span class='Byell black pad05'>
			<%= f.label :image, "img" %>
			<%= f.file_field :image %>
		</span>
		<br>
		<span class='Byell black pad05'>
			<%= f.label :position, "Position" %>
			<%= f.text_field :position %>
		</span>
		<br>
		<%= f.submit "Post"  %>
	<% end %>
</span>
