<%= javascript_include_tag "dropzone" %>

<span class=" white bl pad5">

	<span class="W50 left pad0 ">
		<span class='left Bblack W100' ><%= form_tag('/comics/upload', method: :post, id: 'filebox', remote: true) %></span>
	</span>

	<span class="W50 right pad0 ">
			<%= form_for @comic, multipart: true do |f| %>
			<span class="Byell left black pad5">
				<%= f.label :title, "Title" %>
				<%= f.text_field :title %>
			</span>

			<span class="Byell left black pad5">
				<%= f.label :image, "img" %>

			</span>
			<span class="Byell left black pad5">
				<%= f.label :position, "Position" %>
				<%= f.text_field :position  %>
			</span>
			<span class="Byell left black pad5">
				<%= f.label :desc, "Description" %>
				<%= f.text_area :desc, {class: "pad5"} %>
			</span>

	    <span class="Byell left black pad5">

				<%= f.submit "Post"  %>
			</span>
		<% end %>
	</span>
</span>


<script type="text/javascript">

	var AUTH_TOKEN=$('meta[name="csrf-token"]').attr('content');

	$(document).ready(function() {

		$("#filebox").dropzone({params: {'authenticity_token':  AUTH_TOKEN }, paramName: 'comic[image]', url: '/comics/upload', success: function(file, resp) {

			$('.dz-success-mark, .dz-error-mark').hide();
			$('#filebox').removeClass('Bblack').addClass('Bwhite');
		}});
	});
</script>