<%= javascript_include_tag "dropzone" %>
 
<span class="W100 white bl minH10em">

	<span class="W50 left  ">
			<%= form_for @comic, class: 'left bl W100 ', multipart: true do |f| %>
			<span class="Blttan left white  W100 pad2">
				<%= f.label :title, "Title" %>
				<%= f.text_field :title, { class: 'in mar2LR'}   %>

				<%= f.label :position, "Position" %>
				<%= f.text_field :position, { class: 'in'}  %>
			</span>

			<span class="Btan left black  W100 pad2">

			</span>
			<span class="Btan left black  W100 pad2">
				<%= f.label :desc, "Description" %>
				<%= f.text_area :desc, {class: " W50  in"} %>
			</span>

	    <span class="Btan left black bl W100 pad2">

				<%= f.submit "Post"  %>
			</span>
		<% end %>
	</span>


	<span class="W10 minH left inb  ">
	</span>

	<span class="W30  left pad0 marg0 ">
		<span class=' left  W100   Blttan ' ><%= form_tag('/comics/upload', class: 'in minH W100 left goku', method: :post, id: 'filebox', remote: true) %></span>
	</span>

	<span class="W10 minH left inb pad0 marg0">
	</span>

</span>


<script type="text/javascript">

	var AUTH_TOKEN=$('meta[name="csrf-token"]').attr('content');

	$(document).ready(function() {

		$("#filebox").dropzone({params: {'authenticity_token':  AUTH_TOKEN }, paramName: 'comic[image]', url: '/comics/upload', success: function(file, resp) {

			$('.dz-success-mark, .dz-error-mark').hide();
			$('#filebox').removeClass('Bblack').addClass('Bwhite');
		}});
	});
</script>