<span class='W100 bl left'>
  
  <span class="W20 minH3em left Blttan white center">
    New Arc
  </span>

  <span class="W20 minH3em left Blttan white">
    <%= form_for @arc, class: 'left bl W100 ', multipart: true do |f| %>
      <%= f.label :title, "Arc Title" %>
      <%= f.text_field :title %>
      <%= f.submit 'Create Arc', class: 'in' %>
    <% end %>
  </span> 


  <span class="W10 minH3em left Blttan white center">
    Select Arc
  </span>

  <span class="W10 minH3em left Blttan white">


    <select id="selectArc" class="W100 bl left">
        
      <% @arcs.each do |a| %>

        <option value="<%= a.id %>">
          <%= a.title %>
        </option>

      <% end %>
    </select>
  </span>

  <span class="W10 minH3em left Blttan white"></span>

  <span class="W10 minH3em left Blttan white">
    <button id="letsDoThis" class="W100 center">Let's Do This!</button>
  </span>

  <span class="W10 minH3em left Blttan white"></span>

</span>

<span class='W100 bl left'>
  <span class="W20 pad2 left Blttan">
    <%= link_to "Add Blank Comic", new_comic_comics_path, id: 'addComic', :remote => true %>
  </span>
  <span class="W20 pad2 left Blttan white" id="comicCount">
    <%= @cnt %>
  </span> 
</span>

<span class='W100 bl left'>

  <div class=" Bwhite minH12em left W90 " id="the-comics">
      
    <%= render 'comics/new_comic' %>
  </div>

  <div class='left  Blttan pad0 minH10em marg0 W10'>
    <span class="in W100 overf left pad5 white">
    </span>
  </div>
</span>

<span class="W100 bl left minH2em"></span>

<span class='W100 bl left '>
  <div class=' overf Byell'>
    <h1 class='white Bblack pad2'>COMICS</h1>

    <% @comics.each do |a| %>
      <div class="W100 left bord">
        <div class='Btan W45 left in'>
          <div>

            <h1 class='white pad2 in Bblack'><%= a.position %></h1><span class='Bblob pad05 break'><%= a.title %>::<span class='right'>  <%= link_to image_tag(a.image.url, {class: 'W10'}), comic_path(a), class: 'Bblob round bord black pad05 ' %> </span></span>

          </div>

          <div class='Bblack pad05 in left W5'>
            <span class="Bblob round bord black pad05 left"><%= link_to 'DELETE', comic_path(a), method: :delete, class: 'Bblob left round bord black pad05' %></span> <span class="left"><%= link_to 'EDIT', edit_comic_path(a), class: 'Bblob round bord black ' %></span>
          </div>
        </div>

        <div class="break left W45 pad2"><span class=' Byell'><%= a.desc %></span></div>
      </div>
    <% end %>
  </div>
  
  <div class='pad5 inb Byell'>
    <h1 class='white Bblack pad5'>NEWS</h1>
    <% @news.each do |a| %>
      <div class='Btan bl bordBlack'>
        <span class='Bblob pad2'><%= a.title %></span><span class='Byell'>::::::</span><div class='Bblack pad05 in'><%= link_to 'DELETE', newsy_path(a), method: :delete, class: 'blob pad05' %></div>

        <span class='Byell pad05'>
          <%= a.body %>
        </span>
        <span class='font8 white Bblack'><%= a.created_at %></span>

      </div>
    <% end %>

  </div>
</span>
  
<script type="text/javascript">
  $(document).ready(function () {
    
    $('#letsDoThis').click(function() {

      // read all forms
      var arcChoice = $('#selectArc').val();
      var comicDetails = [];

      $('.newComic').each(function() {

        var disId = $(this).attr('id');
        
        // get title, desc, 
        $(this)
      });


      $.post('/comics/create_arc', {}, function() {
        location.reload();
      });
    });

    $('#addComic').click(function () {
      $.get('/comics/count', function(data, res){
        $('#comicCount').html(data.count);
      });
    });
  });
</script>  