<span class='W100 bl left'>
  
  <span class="W20 minH3em left Blttan white center">
    New Arc
  </span>

  <span class="W20 minH3em left Blttan white">
    <%= form_for @arc, class: 'left bl W100 ', multipart: true do |f| %>
      <%= f.label :title, "Arc Title" %>
      <%= f.text_field :title %>
      <%= f.submit 'Create Arc', class: 'in' %>
    <% end %>
  </span> 

  <span class="W10 minH3em left Blttan white center">
    Select Arc
  </span>

  <span class="W10 minH3em left Blttan white">

    <select id="selectArc" class="W100 bl left">
        
      <% @arcs.each do |a| %>

        <option value="<%= a.id %>">
          <%= a.title %>
        </option>

      <% end %>
    </select>
  </span>

  <span class="W10 minH3em left Blttan white"></span>

  <span class="W10 minH3em left Blttan white">
    <button id="letsDoThis" class="W100 center">Let's Do This!</button>
  </span>

  <span class="W10 minH3em left Blttan white" id="errorBox"></span>

</span>

<span class='W100 bl left'>
  <span class="W20 pad2 left Blttan">
    <a id="addComic" href="#">Add Blank Comic</a>
  </span>
  <span class="W20 pad2 left Blttan white" id="comicCount">
    <%= @cnt %>
  </span> 
</span>

<span class='W100 bl left' id="the-comics">

  <%= render 'comics/new_comic' %>

</span>

<span class="W100 bl left minH2em"></span>
  
<script type="text/javascript">

  function fillFromSketch(info){
    // go cnt times, new comic, fill each


  }

  $(document).ready(function () {
  
    var AUTH_TOKEN=$('meta[name="csrf-token"]').attr('content');
    
    $('#letsDoThis').click(function() {

      var cow = 0;

      // read all forms
      var arcChoice = $('#selectArc').val();
      var comicDetails = [];

      $('.newComic').each(function() {
        cow += 1;

        // I sure hope an image was uploaded!
        var disId = $(this).attr('id');
        // get title, desc, 
        var thisTit = $(this).find('input.comicTitle').val();
        var thisDesc = $(this).find('input.comicDesc').val();
        // var thisPos = $(this).find('input.comicPos');
        comicDetails.push({comic: {id: disId, title: thisTit, desc: thisDesc, pos: cow}});
      });

      var idsPresent = true;

      for(var i=0; i<comicDetails.length; i++){
        if( !(idsPresent && ( comicDetails[i].comic.id.length > 0 )) ){
          idsPresent = false;
        }
      }

      if(idsPresent){

        $.ajax({type: 'POST',
                data: {comicDetails},
                url: '/arcs/save_arc',
                beforeSend: function(xhr) { 
                  xhr.setRequestHeader('X-CSRF-Token', AUTH_TOKEN) 
                },
        });
      } else {
        $('#errorBox').html('Hmm... Images are missing. You better find em!')
      }
    });

    $('#addComic').click(function () {
      $.get('/comics/count', function(data, res){
        $('#comicCount').html(data.count);
        $.get('/comics/new_comic', function() {});
      });
    });
  });
</script>  