<span class='W100 bl left'>
  
  <span class="W20 minH3em left Blttan white center">
    New Arc
  </span>

  <span class="W20 minH3em left Blttan white">
    <%= form_for @arc, class: 'left bl W100 ', multipart: true do |f| %>
      <%= f.label :title, "Arc Title" %>
      <%= f.text_field :title %>
      <%= f.submit 'Create Arc', class: 'in' %>
    <% end %>
  </span> 

  <span class="W10 minH3em left Blttan white center">
    Select Arc
  </span>

  <span class="W10 minH3em left Blttan white">

    <select id="selectArc" class="W100 bl left">
        
      <% @arcs.each do |a| %>

        <option value="<%= a.id %>">
          <%= a.title %>
        </option>

      <% end %>
    </select>
  </span>

  <span class="W10 minH3em left Blttan white"></span>

  <span class="W10 minH3em left Blttan white">
    <button id="letsDoThis" class="W100 center">Let's Do This!</button>
  </span>

  <span class="W10 minH3em left Blttan white"></span>

</span>

<span class='W100 bl left'>
  <span class="W20 pad2 left Blttan">
    <a id="addComic" href="#">Add Blank Comic</a>
  </span>
  <span class="W20 pad2 left Blttan white" id="comicCount">
    <%= @cnt %>
  </span> 
</span>

<span class='W100 bl left'>

  <div class=" Bwhite minH12em left W90 " id="the-comics">
      
    <%= render 'comics/new_comic' %>
  </div>

  <div class='left  Blttan pad0 minH10em marg0 W10'>
    <span class="in W100 overf left pad5 white">
    </span>
  </div>
</span>

<span class="W100 bl left minH2em"></span>
  
<script type="text/javascript">

  $(document).ready(function () {
  
    var AUTH_TOKEN=$('meta[name="csrf-token"]').attr('content');
    
    $('#letsDoThis').click(function() {

      var cow = 0;

      // read all forms
      var arcChoice = $('#selectArc').val();
      var comicDetails = [];

      $('.newComic').each(function() {
        cow += 1;

        // I sure hope an image was uploaded!
        var disId = $(this).attr('id');
        // get title, desc, 
        var thisTit = $(this).find('input.comicTitle').val();
        var thisDesc = $(this).find('input.comicDesc').val();
        // var thisPos = $(this).find('input.comicPos');
        comicDetails.push({comic: {id: disId, title: thisTit, desc: thisDesc, pos: cow}});
      });

      console.log(comicDetails)

      $.ajax({type: 'POST',
              data: {comicDetails},
              url: '/arcs/save_arc',
              beforeSend: function(xhr) { 
                xhr.setRequestHeader('X-CSRF-Token', AUTH_TOKEN) 
              },
      });
    });

    $('#addComic').click(function () {
      $.get('/comics/count', function(data, res){
        $('#comicCount').html(data.count);
        $.get('/comics/new_comic', function() {});
      });
    });
  });
</script>  