
<span style="min-height: 1em; display: block; float: left; height: 1em; width: 100%;"></span>

<span class='W100 bl left  white'>
  
  <span class="W20 minH3em left Blttan white center">
    <span class="W40 pad2 left Blttan rel down3">
      <button id="addComic" href="#">Add Blank Comic</button>
    </span>
    <span class="W40 pad2 left Blttan white" id="comicCount">
      <span class="rel down5">
        <%= @cnt %>
      </span>
    </span>
  </span>

  <span class="W20 minH3em left Blttan white">
  </span> 

  <span class="W10 minH3em left Blttan white center">
    <span class="rel down10">Select Arc</span>
  </span>

  <span class="W10 minH3em left Blttan white">

    <select id="selectArc" class="W100 bl left rel down8">
        
      <% @arcs.each do |a| %>

        <option value="<%= a.id %>">
          <%= a.title %>
        </option>

      <% end %>
    </select>
  </span>

  <span class="W10 minH3em left Blttan white"></span>

  <span class="W10 minH3em left Blttan white">
    <button id="letsDoThis" class="W100 center rel down10">Let's Do This!</button>
  </span>

  <span class="W10 minH3em left Blttan white" id="errorBox"></span>

</span>

<span class='W100 bl left' id="the-comics">

  <%= render 'comics/new_comic' %>

</span>

<span class="W100 bl left">
  <span class="W100 minH3em left Blttan white pad2">
    <%= form_for @arc, class: 'left bl W100 ', multipart: true do |f| %>
      <%= f.label :title, "Arc Title" %>
      <%= f.text_field :title %>
      <%= f.submit 'Create Arc', class: 'in' %>
    <% end %>
  </span> 
</span>


<span class="W100 bl left minH2em"></span>
  

<span class='W45  in left'>
  <div class='pad5 inb Byell'>
    <h1 class='white Bblack pad2'>COMICS</h1>

    <% @comics.each do |a| %>
      <div class='Btan inb'>
        <h1 class='white pad2 in Bblack'><%= a.position %></h1><span class='Bblob pad05'><%= a.title %>::</span><span class='Byell pad05'><%= a.desc %></span>
        
        <%= link_to image_tag(a.image.url, {class: 'W5'}), comic_path(a), class: 'blob pad05' %>
        
        <div class='Bblack pad05 in'><%= link_to 'DELETE', comic_path(a), method: :delete, class: 'blob pad05' %> <%= link_to 'EDIT', edit_comic_path(a), class: 'blob ' %></div>
      </div>
      <br>
      <br>
    <% end %>

  </div>
</span>
<span class='W45  in left'>

  <div class='pad5 inb Byell'>
    <h1 class='white Bblack pad5'>ARCS</h1>
    <% @arcs.each do |a| %>
      <div class='Btan bl bordBlack'>
        <span class='Bblob pad2'><%= a.title %></span><span class='Byell'>::::::</span><div class='Bblack pad05 in'></div>

        <span class='font8 white Bblack'><%= a.created_at %></span>
        <br>
        <br>

      </div>
      <br>
    <% end %>

  </div>
</span>

<span class="W100 bl left">
  

  <div class='pad5 inb Byell'>
    <h1 class='white Bblack pad5'>NEWS</h1>
    <% @news.each do |a| %>
      <div class='Btan bl bordBlack'>
        <span class='Bblob pad2'><%= a.title %></span><span class='Byell'>::::::</span><div class='Bblack pad05 in'><%= link_to 'DELETE', newsy_path(a), method: :delete, class: 'blob pad05' %></div>

        <br>
        <br>
        <span class='Byell pad05'>
          <%= a.body %>
        </span>
        <span class='font8 white Bblack'><%= a.created_at %></span>
        <br>
        <br>

      </div>
      <br>
    <% end %>

  </div>
</span>


  
<script type="text/javascript">

  function fillFromSketch(info){
    // go cnt times, new comic, fill each


  }
  
  function moveIt(count, up) {
    var disComic = $('.comicCount' + count);

    if(up){
      
      var prevComic = $('.comicCount' + (count - 1));

      if(prevComic.length){

        disComic.insertBefore( prevComic );

        disComic.removeClass('comicCount' + count);
        $(disComic.find('span.buttonCon')).attr('data-count', (count - 1));

        prevComic.removeClass('comicCount' + (count - 1)).addClass('comicCount' + count);

        disComic.addClass('comicCount' + (count - 1));
        $(prevComic.find('span.buttonCon')).attr('data-count', count);
      }
      
    } else {

      var nextComic = $('.comicCount' + (count + 1));

      if(nextComic.length){

        disComic.insertAfter( nextComic );

        disComic.removeClass('comicCount' + count);

        $(disComic.find('span.buttonCon')).attr('data-count', (count + 1));
        
        nextComic.removeClass('comicCount' + (count + 1)).addClass('comicCount' + count);

        disComic.addClass('comicCount' + (count + 1));
        $(nextComic.find('span.buttonCon')).attr('data-count', count);

      }
    }

    resetButtons();
  }

  function resetButtons(){

    $('.upButton, .downButton').show();

    $('.upButton, .downButton').off('click');

    $('.upButton').each(function() {
      $(this).click(function() {

        var counto = parseInt($(this).parent().attr('data-count'));
        moveIt(counto, true);
      });
    });

    $('.downButton').each(function() {
      $(this).click(function() {
        
        var counto = parseInt($(this).parent().attr('data-count'));
        moveIt(counto, false);
      });
    });

    // hide up button for top
    $('.buttonCon[data-count="1"]').find('a.upButton').hide();
    $('.downButton').hide();

    var allButtonCons = $('span.buttonCon');
    var counts = [];
    allButtonCons.each(function() {
      counts.push($(this).attr('data-count'));
    });

    var maxy = Math.max(...counts);
    allButtonCons.not('span.buttonCon[data-count="' + maxy + '"]').find('a.downButton').show();

  }

  $(document).ready(function () {
    resetButtons();
  
    var AUTH_TOKEN=$('meta[name="csrf-token"]').attr('content');
    
    $('#letsDoThis').click(function() {

      // read all forms
      var arcChoice = $('#selectArc').val();
      var comicDetails = [];

      $('.newComic').each(function() {

        // I sure hope an image was uploaded!
        var disId = $(this).attr('id');
        var pos = $(this).find('span.buttonCon').attr('data-count');

        // get title, desc, 
        var thisTit = $(this).find('input.comicTitle').val();
        var thisDesc = $(this).find('input.comicDesc').val();

        comicDetails.push({comic: {id: disId, title: thisTit, desc: thisDesc, pos: pos}});
      });

      var idsPresent = true;

      for(var i=0; i<comicDetails.length; i++){
        if( !(idsPresent && ( comicDetails[i].comic.id.length > 0 )) ){
          idsPresent = false;
        }
      }

      if(idsPresent){

        $.ajax({type: 'POST',
                data: {arc_id: arcChoice, comicDetails},
                url: '/arcs/save_arc',
                beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', AUTH_TOKEN) },
                success: function(data){ console.log(data)}
        });

        $('#errorBox').empty();
        location.reload();
      } else {

        $('#errorBox').html('Hmm... Images are missing. You better find em!')
      }
    });

    $('#addComic').click(function () {
      $.get('/comics/count', function(data, res){
        $('#comicCount').html(data.count);
        $.get('/comics/new_comic', function() {});
      });
    });
  });
</script>  