<div id="bar" class="W100 minH20 Bblack up20 rel o20 ">
</div>

<div class="W100 left">
	<span class='left W10 in minH'>
	</span>

	<span class='left W80 in minH'>
		<br>
		<%= image_tag(@comic.image.url, {class: 'W100 Blttan'})  %>

		<div class="W100 in">

			<span class="W5 left minH in left "></span>
			<span class="W90 minH in left  ">


        <img id="" usemap="belt" src="/assets/belt.png" class="W100" />
        <map name="belt" id="ImageMapsCom-image-maps-2015-07-29-195705">
        <area  alt="" title="" href="<%= comic_path( @a ) %>" shape="rect" coords="0,0,92,165" style="outline:none;" target="_self"     />
        <area  alt="" title="" href="<%= comic_path( @a ) %>" shape="rect" coords="93,0,156,165" style="outline:none;" target="_self"     />
        <area  alt="" title="" href="/" shape="rect" coords="170,0,295,165" style="outline:none;" target="_self"     />
        <area  alt="" title="" href="<%= comic_path( @b ) %>" shape="rect" coords="312,0,372,165" style="outline:none;" target="_self"     />
        <area  alt="" title="" href="<%= comic_path( @b ) %>" shape="rect" coords="378,0,465,165" style="outline:none;" target="_self"     />
        <area shape="rect" coords="463,163,465,165" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0" />
        </map>
			</span>
			<span class="W5 left minH in left "></span>

		</div>
	</span>

	<span class='left W10 in minH'>
	</span>
</div>

<div class='black W100'>
  <div class="W100">
    <div class='P1pt5'>
      <h1 class="bold black font18 pad05"></h1>
    </div>
  </div>

</div>

<div class='black W100'>
  <div class='bord'>

		<div class="W100">
		  <div class='lttan Bltan'>
		    <span class="P1pt5 W90 inb round Bwhite"><h1 class="pad05 bold black font18  in"><%= @comic.title %></h1> <h2 class="in font10"><%= @comic.format_time %></h2></span>
		  </div>
		</div>
		<div class="W100">
		  <div class='P2 lttan white'>
		    <span class="white fBodies pad05"><%= @comic.desc %></span><br>
		    <hr>
		    <span class="white font10"></span>
		  </div>
		</div>

		<%= render 'newsies/index' %>

	</div>
</div>

<div class='black W100'>

  <span class='W5 minH left'></span>

  <span class='W90 minH left'>
  </span>

  <span class='W5 minH left'></span>
</div>

<br>
<div class='black W100'>

  <span class='W5 minH left'></span>

  <span class='W90 minH left'>
    <%= render 'comments/new' %>
  </span>

  <span class='W5 minH left'></span>
</div>

<div class='black W100'>

  <span class='W5 minH left'></span>

  <span class='W90 minH left'>
    <%= render 'comments/show' %>
  </span>

  <span class='W5 minH left'></span>
</div>

<script type="text/javascript">
	document.getElementById('bar').width

</script>
