	<span class="W70 minH in left black Btan">
		<div class="W100">
			<div class='bord'>
				<h1 class="font24 fSig black"><%= @comic.title %></h1>
			</div>
		</div>

		<div class="W100 ">
			<span class='left W10 in minH'>
			</span>

			<span class='left W80 in minH'>
				<br>

				<%= image_tag(@comic.img, {class: 'W100 bord Blttan'})  %>
				
				<br>
				<br>
				<div class='W100'>
					<span class='W25 left'>
						<% if a = @comic.lastcom %>
							<%= link_to "Previous", comic_path( a ), {class: 'inb comButton Byell pad2 blob'} %>
						<% end %>
						<% if b = @comic.nextcom %>
							<%= link_to "Next", comic_path( b ), {class: 'inb comButton black Byell pad2 blob'} %>
						<% end %>
					</span>
					<span class='inb W25 left'><%= @comic.desc %></span><br>

					<span class'inb white W35 left'>
						<% @taggy.each do |tag| %>
								<%= link_to tag.word, tag_path(tag), {class: 'pad05 Bblob blob'} %>

						<% end %>
						<br>
					</span>

					<span class'inb white W10 left'><%= render 'tags/new' %></span>
				</div>
				<br>
				<br>
				<br>
			</span>

			<span class='left W10 in minH'>
			</span>
		</div>

		<br>

	</span>

