
<div class='W100 in left Bblack'>

	<span class="W10 minH in left">
	</span>

	<span class="W20 minH in left Btan">
		<span class='bl white'><b>@classydame446 :: </b>I just love how *CLASSY* this is!</span>
		<span class='bl white'><b>@freddyblassy :: </b>Huh?</span>
		<br>
		<br>

	</span>

	<span class="W40 minH in left white Btan">
		<h1><%= @comic.title %></h1>
		<%= image_tag(@comic.img, class: 'comSize' ) %><br>
		<a><%= @comic.desc %></a>
		<br>
		<br>
	</span>

	<span class="W20 minH in left Btan white">
<span>alskdfjsdaklfjsklfj</span>
		<br>
		<br>

	</span>

	<span class="W10 minH in left">
	</span>

</div>

<div class="W100 in left Bblack">
		<span class="W30 minH in left">
	</span>

	<span class="W40 minH in left white Btan">
		<h1><%= @news.title %></h1>
		<a><%= @news.body %></a>
		<br>
		<br>
	</span>

	<span class="W30 minH in left">
	</span>

</div>