<br>
<br>
<span class="blob Bblob white bl">
	<%= form_for @comic do |f| %>
		<%= f.label :title, "Title" %>
		<%= f.text_field :title %>
		<%= f.label :desc, "Desc" %>
		<%= f.text_field :desc %>
		<%= f.label :img, "img" %>
		<%= f.text_field :img %>
		<%= f.label :position, "Position" %>
		<%= f.text_field :position %>

		<%= f.submit "Post"  %>
	<% end %>
</span>
