	<span class="W70 minH in left white Btan">
		<div class="W100">
			<div class='bord'>
				<h1 class="font24"><%= @comic.title %></h1>
			</div>
		</div>

		<div class="W100">
			<span class='left W10 in minH'>
			</span>

			<span class='left W80 in minH'>
				<br>
				<%= image_tag(@comic.img, class: 'W100 bord Blttan')  %>
				<br>
				<br>
				<span><%= @comic.desc %></span><br>
			<span class'bl white left'>
				<% @taggy.each do |tag| %>
					<%= link_to tag.word, tag_path(tag) %>
				<% end %>
			</span>

				<br>
			<span class'bl white left'><%= render 'tags/new' %></span>

				<br>
				<br>
				<% if a = @comic.lastcom %>
					<%= link_to "Previous", comic_path( a ), class: 'comButton, Blttan' %>
				<% end %>
				<% if b = @comic.nextcom %>
					<%= link_to "Next", comic_path( b ), class: 'comButton, Blttan' %>
				<% end %>
			</span>

			<span class='left W10 in minH'>
			</span>
		</div>

		<br>

	</span>

