<span class="W70 minH in left white Btan">
	<div class="W100">
		<div class='bord'>

			<span class='W33 minH in'></span>

			<span class='W33 minH in'>
				<h1 class="font48 fSig white W100 center"><%= @comic.title %></h1>
			</span>

			<span class='W33 minH in'></span>
		</div>
	</div>

	<div class="W100 minH20 Bblack up20 rel o20">
	</div>

	<div class="W100 left">
		<span class='left W10 in minH'>
		</span>

		<span class='left W80 in minH'>

			<%= image_tag(@comic.img, {class: 'W100 bord Blttan'})  %>
			<div class="W100">
				<span class="W33 left minH in"></span>

				<span class="W33 left minH in nowrap">			
					<% if a = @comic.lastcom %>
						<%= link_to image_tag('/assets/tb1.jpg'), comic_path( a ), {class: 'in W33'} %>
					<% else %>
						<%= image_tag('/assets/tb1', {class: 'in'}) %>
					<% end %>

					<%= image_tag('/assets/tb2', {class: 'in'}) %>

					<% if b = @comic.nextcom %>
						<%= link_to image_tag('/assets/tb3'), comic_path( b ), {class: 'in W33'} %>
					<% else %>
						<%= image_tag('/assets/tb3', {class: 'in'}) %>
					<% end %>
				</span>
				<span class="W33 left minH in"></span>
			</div>

			<div class='W100'>

				<span class="W5 left minH in"></span>

				<span class="W90 left minH in">
					<% @taggy.each do |tag| %>
							<%= link_to tag.word, tag_path(tag), {class: 'left pad05 Bblob blob in'} %>
					<% end %>
				</span>

				<span class="W5 left minH in"></span>
			</div>
		</span>

		<span class='left W10 in minH'>
		</span>
	</div>

	<br>

</span>
