	<span class="W70 minH in left black Btan">
		<div class="W100">
			<div class='bord'>
				<h1 class="font24 fSig black"><%= @comic.title %></h1>
			</div>
		</div>

		<div class="W100 ">
			<span class='left W10 in minH'>
			</span>

			<span class='left W80 in minH'>
				<br>
				<%= image_tag(@comic.img, {class: 'W100 bord Blttan'})  %>
				<br>
				<br>
				<span><%= @comic.desc %></span><br>
				<span class'bl white left'>
					<br>
					<% @taggy.each do |tag| %>
							<%= link_to tag.word, tag_path(tag), {class: 'pad05 Bblob blob'} %>

					<% end %>
					<br>
				</span>

				<br>
				<span class'bl white left'><%= render 'tags/new' %></span>

				<br>
				<br>
				<% if a = @comic.lastcom %>
					<%= link_to "Previous", comic_path( a ), {class: 'comButton Byell pad2 blob'} %>
				<% end %>
				<% if b = @comic.nextcom %>
					<%= link_to "Next", comic_path( b ), {class: 'comButton black Byell pad2 blob'} %>
				<% end %>
				<br>
				<br>
				<br>
			</span>

			<span class='left W10 in minH'>
			</span>
		</div>

		<br>

	</span>

