
	<span class="W70 minH in left white Btan">
		<div class="W100">
			<div class='bord'>
				<h1 class="font18"><%= @comic.title %></h1>
			</div>
		</div>

		<%= image_tag(@comic.img, class: 'comSize' ) %><br>
		<span><%= @comic.desc %></span>
		<br>
		<br>

		<%= link_to "Previous", comic_path( @comic.lastcom ) %>
		<%= link_to "Next", comic_path( @comic.nextcom ) %>
	</span>


