<span class="blob Bblob white bl pad5">
  <%= form_for @newsie do |f| %>
    <span class='Byell black pad05'>
      <%= f.label :title, "Title" %>
      <%= f.text_field :title %>
    </span>
    <br>
    
    <span class='Byell black pad5 bl'>
      <%= f.label :body, "Body" %>
      <br>
      <%= f.text_field :body, {class: 'W300p H100p pad5'} %>
    </span>
    <br>
    <span class='Byell black pad05'>
      <%= f.submit "Post"  %>
    </span>
  <% end %>
</span>
