
<!DOCTYPE html>
<html>
<head>
  <title>Mayhem Champion</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>



  <div class='W100 left Bblack nowrap'>
    <span class="W5 minH in left"> </span>

    <span class="W50 in Bblob">
      <%= link_to image_tag('/assets/header.png', {class: 'W40 blob Bblob bordBlack'}), comics_path, {class: 'blob Bblob' } %>
    </span>

    <span class="<%= @sess ? 'W10' : 'W15' %> in"><%= link_to image_tag('/assets/homebase.png', {class: 'blob Bblob W10 bordBlack'}), comics_path, {class: 'blob Bblob' } %></span>
    <span class="<%= @sess ? 'W10' : 'W15' %> in"><%= link_to image_tag('/assets/storysofar.png', {class: 'blob Bblob W10 bordBlack'}), storysofar_comics_path, {class: 'blob Bblob' } %></span>
    <span class="<%= @sess ? 'W10' : 'W15' %> in"><%= link_to image_tag('/assets/contax2.png', {class: 'blob Bblob W10 bordBlack'}), contax_comics_path, {class: 'blob Bblob ' } %></span>

    <% if @sess %>
      <span class="W10 in"><%= link_to "◊", admin_comics_path, {class: 'blob Bblob font12 white pad2'} %></span>
      <span class="W10 in"><%= link_to "Exit", logout_comics_path(@sess), {class: 'blob Bblob font12 white pad2'} %></span>

      
    <% end %>



  </div>
  <div class='W100 left Bblack'>

    <span class="W5 minH in left">
    </span>

    <%= yield %>
    
    <span class="W5 minH in left">
    </span>

  </div>

</body>
</html>
