<!DOCTYPE html>
<html>
	<head>
	  <title>Mayhem Champion</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
	  <%= csrf_meta_tags %>
	</head>
<body>


<div class='W100 left Bblack nowrap'>
	<span class="W5 minH in left"> </span>

	<span class="W50 in Bblob">
		<%= link_to image_tag('/assets/header.png', {class: 'blob Bgreen bord'}), comics_path, {class: 'blob Bblob' } %>
	</span>

	<span class="W15 in"><%= link_to image_tag('/assets/homebase.png', {class: 'blob Bgreen W10 bord'}), comics_path, {class: 'blob Bgreen' } %></span>
	<span class="W15 in"><%= link_to image_tag('/assets/storysofar.png', {class: 'blob Bgreen W10 bord'}), storysofar_comics_path, {class: 'blob Bgreen ' } %></span>
	<span class="W15 in"><%= link_to image_tag('/assets/contax2.png', {class: 'blob Bgreen W10 bord'}), comics_path, {class: 'blob Bgreen ' } %></span>

</div>

<div class='W100 left Bblack'>

	<span class="W5 minH in left">
	</span>

	<span class="W20 minH in left Blttan">

		<div class='W100 left Blttan'>
		<div class='bord'>
			<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/foglabs" data-widget-id="581999883978207232">Tweets by @foglabs</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>	
		</div>
		</div>

		<div class='W100 left Byell'>
		<div class='bord'>
		<h1 class='pad5 white Bblack'>Tags</h1>
		</div>

			<span class'in white left'><%= render 'tags/index' %></span>
		</div>
	</span>

	<%= yield %>

	<span class="W5 minH in left">
	</span>
</div>

<div class="W100 left Bblack">
		<span class="W25 minH in left">
		</span>

		<span class="W70 minH in left black Btan">
		</span>

		<span class="W5 minH in left">
		</span>

</div>





</body>
</html>
