<!DOCTYPE html>
<html>
<head>
  <title>Maxsite</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="W100 in">
		<span class="W5 minH in left"> </span>
		<span class="W60 in left">
			<h1 class="white font32 in fSig">Mayhem Champion by Max W</h1>
		</span>
		<span class="W35 minH in left"></span>
	</div>



<div class='W100 left Bblack'>
	<span class="W5 minH in left"> </span>

	<div class="W25 in"><%= link_to 'Home', comics_path  %></div>
	<div class="W33 in"><%= link_to 'Contact', comics_path  %></div>
	<div class="W33 in"></div>
</div>

<div class='W100 left Bblack'>

	<span class="W5 minH in left">
	</span>

	<span class="W20 minH in left Btan">
		<span class='bl white left'>
			<span class='bl white left'><b>@classydame446 :: </b>I just love how *CLASSY* this is!</span>
			<span class='bl white left'><b>@freddyblassy :: </b>Huh?</span>
			<span class='bl white left'><b>@freddyblassy :: </b>Huh?</span>
		</span>
		
			<br>
			<br>
			<br>
			<br>
		
		<span class'bl white left'><%= render 'tags/index' %></span>


	</span>

	<%= yield %>

	<span class="W5 minH in left">
	</span>

</div>

<div class="W100 left Bblack">
		<span class="W25 minH in left">
		</span>


		<span class="W70 minH in left white Btan">


			<% @news.each do |newsie| %>
				<div class="W100">
					<div class='bord lttan'>
						<h1 class="bold white font18"><%= newsie.title %></h1>
					</div>
				</div>
				<div class="W100">
					<div class='bord lttan'>
						<span class="white"><%= newsie.body %></span><br>
						<hr>
						<span class="white font10"><%= newsie.format_time %></span>
					</div>
				</div>
			<% end %>
		</span>

		<span class="W25 minH in left">
		</span>



</div>





</body>
</html>
